#cookbook h1{
    font-size: 24px;
    color: #333;
}

#cookbook ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#cookbook li{
    border-bottom: 1px solid #ccc;
    padding: 15px 0px;
}

.recipe-single{
    position: relative;
}

.recipe-single .recipe-name{
    color: #333;
    text-decoration: underline;
    margin-right: 25px;
    font-size: 24px;
}

.recipe-single h2{
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}

.recipe-single #recipe-tags{
    float: left;
    clear: left;
}

.recipe-single #img-bg{
    border: 1px solid #ccc;
    padding: 5px;
}

.recipe-single img{
    width: 100%;
    height: auto;
    max-height: 150px;
}

#menu-addremove{
    position: absolute;
    bottom: 25px;
    left: 0;
}

@media(max-width:750px){
    #menu-addremove{
        position: static;
        text-align: center;
    }

    .recipe-single h2{
        text-align: center;
        margin-right: 0px;
    }

    .recipe-single .recipe-name{
        margin-right: 0px;
    }
}