#search-results h1{
    font-size: 20px;
    color: #333;
}

#search-term{
    font-style: italic;
    font-size: 30px;
}

#search-results ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#search-results li{
    margin-bottom: 15px;
    height: 150px;
    background-size: cover;
    background-position: center center;
}

#search-results h2{
    margin: 0;
    padding: 0;
    color: #fff;
    width: 100%;
    padding-top: 30px;
    position: absolute;
    bottom: 0px;
    text-align: center;
    line-height: 24px
}

#search-results .recipe-background{
    background-color: rgba(0,0,0,0.75);
    height: 100%;
    width: 100%;
    position: relative;
}

#search-results .recipe-name{
    color: white;
    opacity: 1;
    width: 100%;
}

.tag-group{
    height: 45px;
    width: 100%;
}