#settings-form{
    padding: 20px;
    border: 1px solid #ccc;
}

#settings-form label{
    text-align: right;
    font-size: 16px;
    padding: 5px;
}

#settings-form input[type=email], #settings-form input[type=text], #settings-form input[type=password]{
    width: 100%;
    font-size: 16px;
    padding: 5px;
}

@media(max-width:750px){
    h3{
        font-size: 18px;
        text-decoration: underline;
        text-align: center;
    }
    #settings-form label{
        text-align: center;
        font-size: 14px;
    }

    #settings-form .submit-button{
        text-align: center;
    }
}